#####################################
# the first part of this file is used if you configure your scuttle for nice urls
# (see $cleanurls in config.inc.php)
#####################################


# Rewrite clean URLs onto real files
<IfModule mod_rewrite.c>
Options +FollowSymlinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/.]+)/?(.*)$ $1.php/$2 [QSA,L]
</IfModule>


#####################################
# This second part is used to speed-up the application
#####################################



