#####################################
# the first part of this file is used if you configure your scuttle for nice urls
# (see $cleanurls in config.inc.php)
#####################################


# Rewrite clean URLs onto real files
<IfModule mod_rewrite.c>
Options +FollowSymlinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/.]+)/?(.*)$ /$1.php/$2 [QSA,L]
RewriteRule ^api/([a-z]+)/([a-z]+) /api/$1_$2.php
</IfModule>


#####################################
# This second part is used to speed-up the application
#####################################

<IfModule mod_expires.c>
ExpiresActive On

ExpiresByType image/ico "access plus 15 days"
ExpiresByType image/png "access plus 15 days"
ExpiresByType image/gif "access plus 15 days"
ExpiresByType text/js "access plus 15 days"
ExpiresByType text/css "access plus 15 days"
</IfModule>


<IfModule mod_deflate.c>
#<FilesMatch "\.(js|css)$">
SetOutputFilter DEFLATE
#</FilesMatch>
</IfModule>
