<?php
# SemanticScuttle Configuration main file </config.inc.php.example>
# http://sourceforge.net/projects/semanticscuttle/
# This program is free software. You can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License.


#### System ####
$sitename           = 'SemanticScuttle'; #The name of this site.
$welcomeMessage     = 'Welcome to SemanticScuttle! More than a social bookmarking tool.'; # The welcome message of this site
$root               = NULL; # Set to NULL to autodetect the root url of the website. If your installation is into a subdirectory like "www.example.com/semanticscuttle/" then replace NULL by your address (between "" and with final '/');
$locale             = 'en_GB'; #locale used in /locales/ {de_DE  en_GB  fr_FR  ...}
$usecache           = false; # use cache ? {true,false}
$dir_cache          = dirname(__FILE__) .'/cache/'; # directory where cache files will be stored
$cleanurls          = false; # Use mod_rewrite to hide PHP extensions {true,false[default]}
			     # be cautious, doesn't work for all hosts, you may need to modify the .htaccess file

#### Database ####
$dbtype = 'mysql4'; # Database driver {mysql, mysqli, mysql4, oracle, postgres, sqlite, db2, firebird, mssql, mssq-odbc}
$dbhost = '127.0.0.1'; # Database hostname
$dbport = '3306'; # Database port
$dbuser = 'username'; # Database username
$dbpass = 'password'; # Database password
$dbname = 'scuttle'; # Database name
$tableprefix = 'sc_';  # table prefix used for this installation. Do not use '-' (badly handeld by MySQL)


### Users ###
$adminemail         = 'admin@example.org'; # Contact address for the site administrator. Used as the FROM address in password retrieval e-mails.
$admin_users = array(''); # admin users  = array('adminnickname', 'user1nick', 'user2nick');
$reservedusers      = array('all', 'watchlist'); # array of usernames that cannot be registered
# Antispam
$antispamQuestion = 'name of this application (no Caps)'; # antispamQuestion: A question to avoid spam
$antispamAnswer = 'semanticscuttle'; # antispamAnswer: The answer to the question (users have to put exactly the same answer)

### Display Templates ###
$TEMPLATES_DIR      = dirname(__FILE__) .'/templates/'; #directory where the template files (*.tpl.php) should be loaded from
$top_include        = 'top.inc.php'; # header file
$bottom_include     = 'bottom.inc.php'; # footer file
$index_sidebar_blocks = array('search','menu','users','recent'); # sidebar blocks order

### Bookmarks ###
$shortdate          = 'd-m-Y'; # format of short dates.
$longdate           = 'j F Y'; # format of long dates.
$nofollow           = true; # include rel="nofollow" attribute on bookmark links ? {true,false}
$defaultPerPage     = 10; # default number of bookmarks per page (-1 means no limit)
$defaultRecentDays  = 14; # number of days that bookmarks or tags should be considered recent.
# bookmarks order by (date, title, url) in order ascending or descending
#                   date_desc   - By date of entry descending.
#                                 Latest entry first. (Default)
#                   date_asc    - By date of entry ascending.
#                                 Earliest entry first.
#                   title_desc  - By title, descending alphabetically.
#                   title_asc   - By title, ascending alphabetically.
#                   url_desc    - By URL, descending alphabetically.
#                   url_asc     - By URL, ascending alphabetically.
$defaultOrderBy     = 'date_desc';
$useredir           = false; # redirect all bookmarks through the address specified in url_redir to improve privacy
$url_redir          = 'http://www.google.com/url?sa=D&q='; # URL prefix for bookmarks to redirect through
# filetypes : array of bookmark extensions that Scuttle should add system tags for
$filetypes          = array(
                        'audio' => array('mp3', 'ogg', 'wav'),
                        'document' => array('doc', 'odt', 'pdf'),
                        'image' => array('gif', 'jpeg', 'jpg', 'png'),
                        'video' => array('avi', 'mov', 'mp4', 'mpeg', 'mpg', 'wmv')
                        );
$enableCommonBookmarkDescription = true; # enableCommonBookmarkDescription {true,false}


### Website Thumbnails ###
$enableWebsiteThumbnails = false; # enableWebsiteThumbnails {true|false}
# According to artviper.net license, buy a license if you gain profit with your pages. (see http://www.websitethumbnail.de/)
$thumbnailsUserId = ''; #you need to register on http://www.artviper.net/registerAPI.php in order to register your domain
$thumbnailsKey = '';   #then artviper.net send you a UserId and a secretKey


### Tags ###
$enableCommonTagDescription = true; # enableCommonTagDescription {true, false}
$menuTag = 'menu'; # name of the tag whose subtags will appear into the menu box
$maxSizeMenuBlock = 7; # maximum number of items (tags) appearing into menu box
$menu2Tags = array('example', 'of', 'menu', 'tags'); # list of tags used by menu2 sidebar box (void list = hidden menu2 box)

### Other ###
$sizeSearchHistory = 10; # number of users' searches that are saved {1..10[Default]..-1[Unlimited]}
$enableGoogleCustomSearch = true; #Enable Google Search Engine into "gsearch/" folder

include_once('debug.inc.php');
?>
